<body>
    <h1>Benvenuto to T-rate, <%= @user %>!</h1>
    <p>
      Ti sei ufficialmente iscritto come utente<br>
    </p>
    <p>
      Scopri tutti i contenuti di T-rate e diventa traduttore quando vuoi
    </p>
    <p>Grazie per esserti unito a noi!!!</p>
  </body>
