<div class="index">
    <br/><br/>
    <div class="buttons">
        <%= link_to "ACCEDI", new_user_session_path, class:"button" %>
        <%= link_to "REGISTRATI",  new_user_registration_path, class:"button" %>
    </div>
</div>