<div class="index">
    <span>
        <font size="50">TI DIAMO IL BENVENUTO!</font><br/><br/><br/>
        Su T-RATE puoi trovare migliaia di traduzioni di film e serie TV.</br></br>

        Iscriviti o accedi per trovare le traduzioni che ti interessano</br>
        o per vedere se i tuoi traduttori preferiti hanno pubblicato nuovi lavori.</br></br>

        Se accumuli abbastanza esperienza puoi diventare traduttore anche tu</br>
        e scalare la classifica dei migliori traduttori!
    </span>
    <br/><br/>
    <div class="buttons">
        
        <%= link_to "ACCEDI", new_user_session_path, class:"button" %>
        <%= link_to "REGISTRATI",  new_user_registration_path, class:"button" %>
    </div>
</div>