<!DOCTYPE html>
<html>
    
    <head>
        <%= javascript_include_tag 'application' %>
    </head>

    <body>

        <body>

            <div class="logo"><%= image_tag('logo.png', size: "200x200") %></div>
            <ul class="tabs">   
                <div class="tab"><div class="tab_span"><b>HOME</b></div></div>
            </ul>
            
            <div class="index">
                <span>
                    <font size="50">TI DIAMO IL BENVENUTO!</font></br></br></br>
                    Su T-RATE puoi trovare migliaia di traduzioni di film e serie TV.</br></br>

                    Iscriviti o accedi per trovare le traduzioni che ti interessano</br>
                    o per vedere se i tuoi traduttori preferiti hanno pubblicato nuovi lavori.</br></br>

                    Se accumuli abbastanza esperienza puoi diventare traduttore anche tu</br>
                    e scalare la classifica dei migliori traduttori!
                </span>
                </br></br>
                <div class="buttons">
                    <button><b>ACCEDI</b></button>
                    <button><b>REGISTRATI</b></button>
                </div>
            </div>
        </body>
    
    </body>

</html>