.ratingstar_icon {
    border: 0;
    background-color: transparent;
    padding: 0;
}

.rating_vep {
    margin-right:5px;
    display: flex;
    align-items: center;
}

.rating_ves {
    margin-right:5px;
    display: flex;
    align-items: center;
}